<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:replace="header :: html_head"></head>
<body>
<div class="container">
    <div th:replace="header :: navbar-main-page"></div>
    <div class="section">
        <form th:action="@{/home/save-card}" method="post" th:object="${card}">
            <input type="hidden" th:field="*{id}" th:value="${card.id}"/>
            <div class="header">
                <h3>Dodaj unikatowy numer karty.</h3>
            </div>
            <div class="row form-row">
                <div class="col-sm-auto">
                    <p th:if="${param.success}" class="alert alert-success" role="alert">Karta dodana</p>
                    <p th:if="${param.false}" class="alert alert-danger" role="alert">Karta o takim numerze już istnieje</p>
                </div>
                <div class="row form-inputs border-top border-bottom">
                    <div class="col-sm-3 form-fields">
                        <label class="form-label" required autofocus>Numer</label>
                        <input type="text" class="form-control" th:field="*{number}" placeholder="ABC123xyz" aria-label="default input example" required>
                    </div>
                </div>
                <div class="col-md-auto btn-field">
                    <input type="submit" value="Dodaj" class="btn btn-primary"/>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>