<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:replace="header :: html_head">
<body>
<div class="container">
    <div th:replace="header :: navbar-main-page"></div>
    <div class="section">
        <div class="buttons">
            <a th:href="@{/home/card/add-trip}" class="btn btn-primary btn-sm" role="button">Dodaj punkt trasy</a>
            <a th:href="@{/home/card/add-fuel}" class="btn btn-primary btn-sm" role="button">Dodaj tankowanie</a>
        </div>
        <div class="row form-row">
            <div class="row">
                <div class="check">
                    <th:block th:if="${card.done}">
                        <a th:href="@{'/home/card/toggle/' + ${card.id}}" class="link-primary" role="button">
                            <i class="fa-solid fa-circle-check" style="color:#4BB543;"></i>
                        </a>
                    </th:block>
                    <th:block th:unless="${card.done}">
                        <a th:href="@{'/home/card/toggle/' + ${card.id}}" class="link-primary" role="button">
                            <i class="fa-solid fa-circle-dot" style="color: #cc0000;"></i>
                        </a>
                    </th:block>
                </div>
                <div class="errors">
                    <p th:if="${param.false}">Karta została zakończona, odlokuj aby móc edytować!</p>
                    <p th:if="${!counters.upToDate}">Nieaktualne dane!</p>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-sm">
                        <div class="table-header">
                            <h3>Szczegóły trasy</h3>
                        </div>
                        <thead>
                        <tr>
                            <th colspan="7" style="border-right: 2px solid;">WYJAZD</th>
                            <th colspan="6">PRZYJAZD</th>
                        </tr>
                        <tr>
                            <th scope="col" class="manage">Zarządzaj</th>
                            <th scope="col">Lp.</th>
                            <th scope="col">Data</th>
                            <th scope="col">Godzina</th>
                            <th scope="col">Miejscowość</th>
                            <th scope="col">Państwo</th>
                            <th scope="col" style="border-right: 2px solid;">Licznik</th>
                            <th scope="col">Data</th>
                            <th scope="col">Godzina</th>
                            <th scope="col">Miejscowość</th>
                            <th scope="col">Państwo</th>
                            <th scope="col">Licznik</th>
                            <th scope="col">Przebieg</th>
                        </tr>
                        </thead>
                        <tbody>
                        <th:block th:if="${#lists.isEmpty(listTrips)}">
                            <tr>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td style="border-right: 2px solid;">-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                        </th:block>
                        <th:block th:each="trip,iterator : ${listTrips}">
                            <tr>
                                <td>
                                    <a th:href="@{'/home/card/trip/edit/' + ${trip.id}}" type="button"
                                       class="btn btn-sm btn-outline-primary card-btn">
                                        <i class="fa-solid fa-pen"></i>
                                    </a>
                                    <a th:href="@{'/home/card/trip/delete/' + ${trip.id}}"
                                       onclick="return confirm('Usunięcie karty jest nie odwracalne, jesteś pewien?')"
                                       type="button" class="btn btn-sm btn-outline-danger card-btn"><i
                                            class="fa-solid fa-circle-minus"></i></a>
                                </td>
                                <td th:text="${iterator.index+1}"></td>
                                <td th:text="${trip.tripStartDay}">20.06</td>
                                <td th:text="${trip.tripStartHour}">8:31</td>
                                <td th:text="${trip.tripStartLocation}">Zadole</td>
                                <td th:text="${trip.tripStartCountry}">PL</td>
                                <td th:text="${trip.tripStartVehicleCounter}" style="border-right: 2px solid;">344521</td>
                                <td th:text="${trip.tripEndDay}">22.06</td>
                                <td th:text="${trip.tripEndHour}">13:33</td>
                                <td th:text="${trip.tripEndLocation}">Hamburg</td>
                                <td th:text="${trip.tripEndCountry}">DE</td>
                                <td th:text="${trip.tripEndVehicleCounter}">346197</td>
                                <td th:text="${trip.carMileage}">300</td>
                            </tr>
                        </th:block>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-sm">
                        <div class="table-header">
                            <h3>Szczegóły tankowań</h3>
                        </div>
                        <thead>
                        <tr>
                            <th scope="col" class="manage">Zarządzaj</th>
                            <th scope="col">Lp.</th>
                            <th scope="col">Data</th>
                            <th scope="col">Miejscowość</th>
                            <th scope="col">Licznik</th>
                            <th scope="col">Ilość tankowania</th>
                        </tr>
                        </thead>
                        <tbody>
                        <th:block th:if="${#lists.isEmpty(listFuels)}">
                            <tr>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                        </th:block>
                        <th:block th:each="fuel,iterator : ${listFuels}">
                            <tr>
                                <td>
                                    <a th:href="@{'/home/card/fuel/edit/' + ${fuel.id}}" type="button"
                                       class="btn btn-sm btn-outline-primary card-btn">
                                        <i class="fa-solid fa-pen"></i>
                                    </a>
                                    <a th:href="@{'/home/card/fuel/delete/' + ${fuel.id}}"
                                       onclick="return confirm('Usunięcie karty jest nie odwracalne, jesteś pewien?')"
                                       type="button" class="btn btn-sm btn-outline-danger card-btn"><i
                                            class="fa-solid fa-circle-minus"></i></a>
                                </td>
                                <td th:text="${iterator.index+1}"></td>
                                <td th:text="${fuel.refuelingDate}">20.06</td>
                                <td th:text="${fuel.refuelingLocation}">Opole Lubelskie</td>
                                <td th:text="${fuel.vehicleOdometer}">344123</td>
                                <td th:text="${fuel.fuelAmount}">850</td>
                            </tr>
                        </th:block>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-sm">
                        <div class="table-header">
                            <h3>Podsumowanie informacji</h3>
                        </div>
                        <thead>
                        <tr>
                            <th scope="col" class="manage">Zarządzaj</th>
                            <th scope="col">Początkowy stan licznika</th>
                            <th scope="col">Końcowy stan licznika</th>
                            <th scope="col">Przebieg</th>
                            <th scope="col">Suma tankowania</th>
                        </tr>
                        </thead>
                        <tbody>
                        <th:block th:if="${#lists.isEmpty(counters)}">
                            <tr>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                        </th:block>
                        <th:block th:each="counter : ${counters}">
                            <tr>
                                <td>
                                    <th:block th:if="${counters.upToDate}">
                                        <a th:href="@{'/home/card/counters/update/' + ${counters.card.id}}"
                                           type="button"
                                           class="btn btn-sm btn-outline-primary card-btn update-ok">
                                            <i class="fa-solid fa-rotate" style="color: #4BB543;"></i>
                                        </a>
                                    </th:block>
                                    <th:block th:unless="${counters.upToDate}">
                                        <a th:href="@{'/home/card/counters/update/' + ${counters.card.id}}"
                                           type="button"
                                           class="btn btn-sm btn-outline-primary card-btn update-fail">
                                            <i class="fa-solid fa-rotate" style="color: #cc0000;"></i>
                                        </a>
                                    </th:block>
                                </td>
                                <td th:text="${counter.counterTripStart}">333444</td>
                                <td th:text="${counter.counterTripEnd}">333555</td>
                                <td th:text="${counter.sumCounterMileage}">111</td>
                                <td th:text="${counter.sumCounterRefueling}">850</td>
                            </tr>
                        </th:block>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>