<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:replace="header :: html_head"></head>
<body>
<div class="container">
    <div th:replace="header :: navbar-main-page"></div>
    <div class="section">
        <form th:action="@{/edit/save}" method="post" th:object="${user}">
            <input type="hidden" th:field="*{id}" th:value="${user.id}"/>
            <div class="header">
                <h3>Edycja użytkownika</h3>
            </div>
            <div class="row form-row">
                <div class="col-md-auto">
                    <p th:if="${param.success}" class="alert alert-success" role="alert">Zmiany zatwierdzono</p>
                    <p th:if="${param.error}" class="alert alert-danger" role="alert">Użytkownik o takim emailu już istnieje</p>
                </div>
                <div class="col-md-auto form-fields">
                    <label class="form-label">Email</label>
                    <input type="text" name="email" class="form-control" th:field="*{email}" placeholder="user@gmail.com" aria-label="default input example" required>
                </div>
                <div class="col-md-auto form-fields">
                    <input type="hidden" name="password" class="form-control" th:field="*{password}" placeholder="******" aria-label="default input example">
                </div>
                <div class="row">
                    <div class="col-md-auto form-fields">
                        <label class="form-label" required autofocus>Imie</label>
                        <input type="text" name="firstname" class="form-control" th:field="*{firstName}" placeholder="Jan" aria-label="default input example" required>
                    </div>
                    <div class="col-md-auto form-fields">
                        <label class="form-label" required autofocus>Nazwisko</label>
                        <input type="text" name="lastname" class="form-control" th:field="*{lastName}" placeholder="Kowalski" aria-label="default input example" required>
                    </div>
                </div>
                <div class="col-md-auto form-fields">
                    <th:block th:each="role : ${listRoles}">
                        <input class="form-check-input" type="checkbox"
                               th:field="*{roles}"
                               th:value="${role.id}"
                               th:text="${role.name}"/>
                    </th:block>
                </div>
                <div class="col-md-auto btn-field">
                    <input type="submit" value="Zapisz" class="btn btn-primary"/>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>