<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>PTD-Manager</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/7f0adcc2fe.js" crossorigin="anonymous"></script>
    <link th:href="@{/css/style-main.css}" rel="stylesheet" />
</head>
<body>
<div class="container">
    <div class="navbar">
        <div class="logo">
            <p><i class="fa-solid fa-truck"></i>PTD Manager</p>
            <p>Professional Truck Driver System Managment</p>
        </div>
        <div class="auth">
            <p th:inline="text">Zalogowany jako
                <span th:text="${#authentication.getPrincipal().getUsername()}"></span>
            </p>
            <form th:action="@{/home}" method="get">
                <input type="submit" value="Strona główna" class="btn btn-secondary" role="button"/>
            </form>
        </div>
    </div>
    <div class="section">
        <form th:action="@{/home/edit/save}" method="post" th:object="${user}">
            <input type="hidden" th:field="*{id}" th:value="${user.id}"/>
            <div class="header">
                <h3>Edycja użytkownika</h3>
            </div>
            <div class="row form-row">
                <div class="col-md-auto">
                    <p th:if="${param.success}" class="alert alert-success" role="alert">Zmiany zatwierdzono</p>
                    <p th:if="${param.error}" class="alert alert-danger" role="alert">Użytkownik o takim emailu już istnieje</p>
                </div>
                <div class="col-md-auto form-fields">
                    <label class="form-label">Email</label>
                    <input type="text" name="email" class="form-control" th:field="*{email}" placeholder="user@gmail.com" aria-label="default input example" required>
                </div>
                <div class="col-md-auto form-fields" style="display: none;">
                    <label class="form-label">Hasło</label>
                    <input type="password" name="password" class="form-control" th:field="*{password}" placeholder="******" aria-label="default input example">
                </div>
                <div class="row">
                    <div class="col-md-auto form-fields">
                        <label class="form-label" required autofocus>Imie</label>
                        <input type="text" name="firstname" class="form-control" th:field="*{firstName}" placeholder="Jan" aria-label="default input example" required>
                    </div>
                    <div class="col-md-auto form-fields">
                        <label class="form-label" required autofocus>Nazwisko</label>
                        <input type="text" name="lastname" class="form-control" th:field="*{lastName}" placeholder="Kowalski" aria-label="default input example" required>
                    </div>
                </div>
                <div class="col-md-auto form-fields">
                    <th:block th:each="role : ${listRoles}">
                        <input class="form-check-input" type="checkbox"
                               th:field="*{roles}"
                               th:value="${role.id}"
                               th:text="${role.name}"/>
                    </th:block>
                </div>
                <div class="col-md-auto btn-field">
                    <input type="submit" value="Zapisz" class="btn btn-primary"/>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>