<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:replace="header :: html_head"></head>
<body>
<div class="container">
  <div th:replace="header :: navbar-main-page"></div>
  <div class="section">
    <form th:action="@{/home/card/save-fuel}" th:object="${fuel}" method="post" enctype="multipart/form-data">
      <input type="hidden" th:field="*{id}" th:value="${fuel.id}"/>
      <div class="header">
        <h3>Dodaj szczegółowe informacje o każdym tankowaniu. Należy wypełnić wszystkie dostępne pola.</h3>
      </div>
      <div class="row form-row">
        <div class="col-sm-auto">
          <p th:if="${param.success}" class="alert alert-success" role="alert">Tankowanie dodany</p>
        </div>
        <div class="row form-inputs border-top border-bottom">
          <h6>Punkt takowania</h6>
          <div class="col-sm-3 form-fields">
            <label class="form-label" required autofocus>Data</label>
            <input type="text" class="form-control" th:field="*{refuelingDate}" placeholder="1.01" aria-label="default input example" required>
          </div>
          <div class="col-sm-3 form-fields">
            <label class="form-label" required autofocus>Miejsce</label>
            <input type="text" class="form-control" th:field="*{refuelingLocation}" placeholder="Lublin" aria-label="default input example" required>
          </div>
          <div class="col-sm-3 form-fields">
            <label class="form-label" required autofocus>Stan licznika</label>
            <input type="text" class="form-control" th:field="*{vehicleOdometer}" placeholder="123456" aria-label="default input example" required>
          </div>
        </div>
        <div class="row form-inputs border-bottom">
          <div class="col-sm-3 form-fields">
            <label class="form-label" required autofocus>Ilość</label>
            <input type="text" class="form-control" th:field="*{fuelAmount}" placeholder="123" aria-label="default input example" required>
          </div>
        </div>
        <div class="col-md-auto btn-field">
          <input type="submit" value="Zapisz" class="btn btn-primary"/>
        </div>
      </div>
    </form>
  </div>
</div>
</body>
</html>