<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:replace="header :: html_head"></head>
<body>
<div class="container">
  <div th:replace="header :: navbar-main-page"></div>
  <div class="section">
    <form th:action="@{/card/save-trip}" th:object="${trip}" method="post" enctype="multipart/form-data">
      <input type="hidden" th:field="*{id}" th:value="${trip.id}"/>
      <div class="header">
        <h3>Dodaj szczegółowe informacje o każdym punkcie trasy. Należy wypełnić wszystkie dostępne pola.</h3>
      </div>
      <div class="row form-row">
        <div class="col-sm-auto">
          <p th:if="${param.success}" class="alert alert-success" role="alert">Punkt dodany</p>
        </div>
        <div class="row form-inputs border-top border-bottom">
          <h6>Dane wyjazdu</h6>
          <div class="col-sm-2 form-fields">
            <label class="form-label" required autofocus>Data</label>
            <input type="text" class="form-control" th:field="*{tripStartDay}" placeholder="1.01" aria-label="default input example" required>
          </div>
          <div class="col-sm-2 form-fields">
            <label class="form-label" required autofocus>Godzina</label>
            <input type="text" class="form-control" th:field="*{tripStartHour}" placeholder="23.59" aria-label="default input example" required>
          </div>
          <div class="col-sm-2 form-fields">
            <label class="form-label" required autofocus>Miejscowość</label>
            <input type="text" class="form-control" th:field="*{tripStartLocation}" placeholder="Warszawa" aria-label="default input example" required>
          </div>
          <div class="col-sm-2 form-fields">
            <label class="form-label" required autofocus>Państwo</label>
            <input type="text" class="form-control" th:field="*{tripStartCountry}" placeholder="PL" aria-label="default input example" required>
          </div>
          <div class="col-sm-2 form-fields">
            <label class="form-label" required autofocus>Licznik</label>
            <input type="text" class="form-control" th:field="*{tripStartVehicleCounter}" placeholder="123456" aria-label="default input example" required>
          </div>
        </div>
        <div class="row form-inputs border-bottom">
          <h6>Dane wyjazdu</h6>
          <div class="col-sm-2 form-fields">
            <label class="form-label" required autofocus>Data</label>
            <input type="text" class="form-control" th:field="*{tripEndDay}" placeholder="1.01" aria-label="default input example" required>
          </div>
          <div class="col-sm-2 form-fields">
            <label class="form-label" required autofocus>Godzina</label>
            <input type="text" class="form-control" th:field="*{tripEndHour}" placeholder="23.59" aria-label="default input example" required>
          </div>
          <div class="col-sm-2 form-fields">
            <label class="form-label" required autofocus>Miejscowość</label>
            <input type="text" class="form-control" th:field="*{tripEndLocation}" placeholder="Warszawa" aria-label="default input example" required>
          </div>
          <div class="col-sm-2 form-fields">
            <label class="form-label" required autofocus>Państwo</label>
            <input type="text" class="form-control" th:field="*{tripEndCountry}" placeholder="PL" aria-label="default input example" required>
          </div>
          <div class="col-sm-2 form-fields">
            <label class="form-label" required autofocus>Licznik</label>
            <input type="text" class="form-control" th:field="*{tripEndVehicleCounter}" placeholder="123456" aria-label="default input example" required>
          </div>
        </div>
        <div class="col-md-auto btn-field">
          <input type="submit" value="Zapisz" class="btn btn-primary"/>
        </div>
      </div>
    </form>
  </div>
</div>
</body>
</html>