<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>PTD-Manager</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/7f0adcc2fe.js" crossorigin="anonymous"></script>
  <link th:href="@{/css/style-main.css}" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="container">
  <div class="navbar">
    <div class="logo">
      <p><i class="fa-solid fa-truck"></i>PTD Manager</p>
      <p>Professional Truck Driver System Managment</p>
    </div>
    <div class="auth">
      <p th:inline="text">Zalogowany jako
        <span th:text="${#authentication.getPrincipal().getUsername()}"></span>
      </p>
      <form th:action="@{/home}" method="get">
        <input type="submit" value="Strona główna" class="btn btn-secondary" role="button"/>
      </form>
    </div>
  </div>
  <div class="section">
    <form th:action="@{/home/card/save-trip}" th:object="${trip}" method="post" enctype="multipart/form-data">
      <input type="hidden" th:field="*{id}" th:value="${trip.id}"/>
      <div class="header">
        <h3>Dodaj szczegółowe informacje o każdym punkcie trasy. Należy wypełnić wszystkie dostępne pola.</h3>
      </div>
      <div class="row form-row">
        <div class="col-sm-auto">
          <p th:if="${param.success}" class="alert alert-success" role="alert">Punkt dodany</p>
        </div>
        <div class="row form-inputs border-top border-bottom">
          <h6>Dane wyjazdu</h6>
          <div class="col-sm-2 form-fields">
            <label class="form-label" required autofocus>Data</label>
            <input type="text" class="form-control" th:field="*{tripStartDay}" placeholder="1.01" aria-label="default input example" required>
          </div>
          <div class="col-sm-2 form-fields">
            <label class="form-label" required autofocus>Godzina</label>
            <input type="text" class="form-control" th:field="*{tripStartHour}" placeholder="23.59" aria-label="default input example" required>
          </div>
          <div class="col-sm-2 form-fields">
            <label class="form-label" required autofocus>Miejscowość</label>
            <input type="text" class="form-control" th:field="*{tripStartLocation}" placeholder="Warszawa" aria-label="default input example" required>
          </div>
          <div class="col-sm-2 form-fields">
            <label class="form-label" required autofocus>Państwo</label>
            <input type="text" class="form-control" th:field="*{tripStartCountry}" placeholder="PL" aria-label="default input example" required>
          </div>
          <div class="col-sm-2 form-fields">
            <label class="form-label" required autofocus>Licznik</label>
            <input type="text" class="form-control" th:field="*{tripStartVehicleCounter}" placeholder="123456" aria-label="default input example" required>
          </div>
        </div>
        <div class="row form-inputs border-bottom">
          <h6>Dane wyjazdu</h6>
          <div class="col-sm-2 form-fields">
            <label class="form-label" required autofocus>Data</label>
            <input type="text" class="form-control" th:field="*{tripEndDay}" placeholder="1.01" aria-label="default input example" required>
          </div>
          <div class="col-sm-2 form-fields">
            <label class="form-label" required autofocus>Godzina</label>
            <input type="text" class="form-control" th:field="*{tripEndHour}" placeholder="23.59" aria-label="default input example" required>
          </div>
          <div class="col-sm-2 form-fields">
            <label class="form-label" required autofocus>Miejscowość</label>
            <input type="text" class="form-control" th:field="*{tripEndLocation}" placeholder="Warszawa" aria-label="default input example" required>
          </div>
          <div class="col-sm-2 form-fields">
            <label class="form-label" required autofocus>Państwo</label>
            <input type="text" class="form-control" th:field="*{tripEndCountry}" placeholder="PL" aria-label="default input example" required>
          </div>
          <div class="col-sm-2 form-fields">
            <label class="form-label" required autofocus>Licznik</label>
            <input type="text" class="form-control" th:field="*{tripEndVehicleCounter}" placeholder="123456" aria-label="default input example" required>
          </div>
        </div>
        <div class="col-md-auto btn-field">
          <input type="submit" value="Zapisz" class="btn btn-primary"/>
        </div>
      </div>
    </form>
  </div>
</div>
</body>
</html>