<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:replace="header :: html_head"></head>
<body>
<div class="container">
    <div th:replace="header :: navbar-main-page"></div>
    <div class="section">
        <form th:action="@{/home/add-vehicle}" th:object="${vehicle}" method="post" enctype="multipart/form-data">
            <input type="hidden" th:field="*{id}" th:value="${vehicle.id}"/>
            <div class="header">
                <h3>Dodaj szczegółowe informacje o zestawie. Należy wypełnić wszystkie dostępne pola.</h3>
            </div>
            <div class="row form-row">
                <div class="col-sm-auto">
                    <p th:if="${param.success}" class="alert alert-success" role="alert">Pojazd dodany</p>
                </div>
                <div class="row form-inputs border-top border-bottom">
                    <h6>Podstawowe informacje</h6>
                    <div class="col-sm-4 form-fields">
                        <label class="form-label" required autofocus>Zdjęcie</label>
                        <input type="file" class="form-control" name="file" accept="image/png, image/jpeg" required>
                    </div>
                    <div class="col-sm-4 form-fields">
                        <label class="form-label" required autofocus>Opis pod zdjęciem</label>
                        <input type="text" class="form-control" th:field="*{vehicleImageDescription}" placeholder="VOLVO/FH KRONE" aria-label="default input example" required>
                    </div>
                    <div class="col-sm-4 form-fields">
                        <label class="form-label" required autofocus>Model</label>
                        <input type="text" class="form-control" th:field="*{truckMainModel}" placeholder="Volvo FH 500 Euro-6" aria-label="default input example" required>
                    </div>
                </div>
                <div class="row form-inputs border-bottom">
                    <h6>Szczegółowe informacje ciągnika</h6>
                    <div class="col-sm-3 form-fields">
                        <label class="form-label" required autofocus>Numer rejestracyjny</label>
                        <input type="text" class="form-control" th:field="*{truckLicensePlate}" placeholder="LOP123" aria-label="default input example" required>
                    </div>
                    <div class="col-sm-3 form-fields">
                        <label class="form-label" required autofocus>Typ ciężarówki</label>
                        <input type="text" class="form-control" th:field="*{truckType}" placeholder="Ciągnik siodłowy" aria-label="default input example" required>
                    </div>
                    <div class="col-sm-3 form-fields">
                        <label class="form-label" required autofocus>Pojemność lewego zbiornika</label>
                        <input type="text" class="form-control" th:field="*{leftTankFuelCapacity}" placeholder="000" aria-label="default input example" required>
                    </div>
                    <div class="col-sm-3 form-fields">
                        <label class="form-label" required autofocus>Pojemność prawego zbiornika</label>
                        <input type="text" class="form-control" th:field="*{rightTankFuelCapacity}" placeholder="000" aria-label="default input example" required>
                    </div>
                </div>
                <div class="row form-inputs border-bottom">
                    <h6>Szczegółowe informacje naczepy</h6>
                    <div class="col-sm-3 form-fields">
                        <label class="form-label" required autofocus>Numer rejestracyjny</label>
                        <input type="text" class="form-control" th:field="*{trailerLicensePlate}" placeholder="LOP321" aria-label="default input example" required>
                    </div>
                    <div class="col-sm-3 form-fields">
                        <label class="form-label" required autofocus>Typ naczepy</label>
                        <input type="text" class="form-control" th:field="*{trailerType}" placeholder="Naczepa chłodnia" aria-label="default input example" required>
                    </div>
                    <div class="col-sm-3 form-fields">
                        <label class="form-label" required autofocus>Pojemność lewego zbiornika</label>
                        <input type="text" class="form-control" th:field="*{trailerCapacity}" placeholder="000" aria-label="default input example" required>
                    </div>
                    <div class="col-sm-3 form-fields">
                        <label class="form-label" required autofocus>Pojemność zbiornika adBlue</label>
                        <input type="text" class="form-control" th:field="*{adBlueCapacity}" placeholder="000" aria-label="default input example" required>
                    </div>
                </div>
                <div class="row form-inputs border-bottom">
                    <h6>Kierowca zestawu</h6>
                    <div class="col-sm-3 form-fields">
                        <label class="form-label">Imię i nazwisko</label>
                        <select class="form-control" th:field="*{user}" required>
                            <th:block th:each="user : ${listUsers}">
                                <option th:text="${user.fullName}" th:value="${user.id}"></option>
                            </th:block>
                        </select>
                    </div>
                </div>
                <div class="col-md-auto btn-field">
                    <input type="submit" value="Zapisz" class="btn btn-primary"/>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>